@import "../../styles/theme";

.header {
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $header-height-mobile;
  padding: 0% 5%;

  &.dark {
    background-color: $color-primary-black;
  }
  &.light {
    background-color: $color-primary-white;
    border-bottom: 1px solid #ccc;
  }

  a:hover {
    text-decoration: underline;
  }

  .currentPage {
    color: $color-primary-bluegreen;
  }

  .currentPage:hover {
    text-decoration: none;
  }
}
.burgerMenuContainer {
  height: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.burgerMenu {
  width: 25px;
  height: 3px;
  border-radius: 10px;
  position: relative;
  z-index: 10;

  &:before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(-8px);
    transition: transform 0.2s ease-in-out;
  }

  &:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(8px);
    transition: transform 0.2s ease-in-out;
  }

  &.menuOpen {
    &.dark {
      background-color: $color-primary-black;
    }
    &.light {
      background-color: $color-primary-white;
    }

    &:after {
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
  }

  &.dark {
    background-color: $color-primary-white;

    &:before {
      background-color: $color-primary-white;
    }
    &:after {
      background-color: $color-primary-white;
    }
  }

  &.light {
    background-color: $color-primary-black;

    &:before {
      background-color: $color-primary-black;
    }
    &:after {
      background-color: $color-primary-black;
    }
  }

  @include from("md") {
    display: none;
  }
}

.logoAB {
  height: 32px;
}

.nav {
  position: absolute;
  top: 100%;
  left: -100%;
  height: calc(100vh - #{$header-height-mobile});
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.3s ease-out;

  &.menuOpen {
    left: 0;
  }

  & ul {
    text-align: center;
    & li {
      margin-bottom: 32px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  &.dark {
    color: $color-primary-white;
    background-color: $color-primary-black;
  }
  &.light {
    color: $color-primary-black;
    background-color: $color-primary-white;
  }

  @include from("md") {
    position: static;
    width: unset;
    height: 100%;

    & ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & li {
        margin-right: 24px;
        margin-bottom: 0px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

/* BURGER MENU */

/* TOGGLE THEME BUTTON */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-primary-white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: url("./../../public/assets/moon.svg");
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $color-primary-bluegreen;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  outline: none;
}

.input:checked + .slider {
  background-color: #4e4e4e;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: url("./../../public/assets/sun.svg");
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
