@import "../../styles/theme";

.search {
  margin-top: 32px;
  background: transparent;
  position: relative;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;

  .mics {
    background-color: $color-primary-white;
    padding: 11px;
    border-radius: 0 4px 4px 0;
    &:hover {
      cursor: pointer;
    }
  }

  .scope,
  .cross {
    position: absolute;
    &:hover {
      cursor: pointer;
    }
  }
  .scope {
    top: 10px;
    left: 12px;
  }
  .cross {
    top: 0px;
    height: 100%;
    width: 16px;
    right: 24px;
    background-color: $color-primary-white;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .crossSafari {
    right: 12px;
  }
  input {
    height: 40px;
    width: 244px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px 0 0 4px;
    background-color: $color-primary-white;
    padding-left: 40px;
    color: $color-primary-black;
    font-size: 16px;
    border: none;
    transition: box-shadow 0.2s ease;
    &::placeholder {
      @include font-searchbar-placeholder(#b1b1b1, 16px);
    }
  }
}

.isFocused {
  transform: translateY(-5px);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.presentation {
  position: fixed;
  top: 10vh;
  left: 0;
  height: 80vh;
  width: 80vw;
  background-color: black;
  z-index: 30;
}
