@import '../../styles/theme';

.card {
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__picture {
    object-fit: cover;
    width: 100%;
    height: 80%;
  }
  &__description {
    flex-grow: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 20%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.dark {
      background-color: $color-primary-darkgrey;
      .text__container {
        color: $color-primary-white;
      }
    }
    &.light {
      background-color: $color-primary-white;
      .text__container {
        color: $color-primary-darkgrey;
      }
    }
  }
}

.text__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 90%;
  font-size: 16px;

  h3 {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
  }
}

.text__informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 100;
}
