@import '../../styles/theme';

.hero {
  @include from('xs') {
    height: 410px;
    width: 100vw;
    background-image: url('../../public/assets/hero-img-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    @include font-hero-h-1($color-primary-white, 25px);
    margin-top: 72px;
    text-align: center;
    line-height: 2.2rem;
    @include from('md') {
      @include font-hero-h-1($color-primary-white, 50px);
    }
  }
  h3 {
    @include font-hero-h-3($color-primary-white, 20px);
    margin: 36px 0 20px 0;
    @include from('md') {
      @include font-hero-h-3($color-primary-white, 30px);
    }
  }

  &.light {
    h1,
    h3 {
      @include from('xs') {
        color: $color-primary-white;
      }
      color: $color-primary-black;
    }
  }
}
