@import '../../styles/theme';

.moviesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: map-get($screens, 'xl');
  margin: auto;
  margin-top: 40px;

  &__title {
    width: 100%;
    text-align: left;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: lighter;

    &.dark {
      color: $color-primary-white;
    }

    em {
      font-weight: bold;
    }
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;

    @include from('xs') {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}
