@import "../styles/theme";

.container {
  margin-top: $header-height-mobile;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: $color-primary-white;

  h1 {
    font-size: 40px;
    font-weight: bold;
  }
  p {
    font-size: 24px;
  }

  a {
    font-weight: 600;
    padding: 13px 23px;
    border-radius: 4px;
    color: $color-primary-white;
    background-color: $color-primary-bluegreen;
    border: 2px solid $color-primary-bluegreen;
    box-sizing: border-box;
    &:hover {
      background-color: transparent;
      color: $color-primary-bluegreen;
    }
    &:nth-child(1) {
      margin-right: 40px;
    }
    @media (max-width: 900px) {
      padding: 10px 20px;
    }
    @media (max-width: 820px) {
      padding: 10px 16px;
    }
  }
}
