@import "mixins";

$screens: (
  xxs: 350px,
  xs: 576px,
  sm: 640px,
  md: 768px,
  l: 930px,
  lg: 1024px,
  xl: 1280px
);

$color-primary-white: rgba(248, 248, 248, 1);
$color-primary-black: rgba(13, 13, 13, 1);
$color-primary-bluegreen: rgba(92, 183, 195, 1);

@mixin font-hero-h-1($color, $size) {
  font-family: "Libre Franklin";
  font-weight: extrabold;
  color: $color;
  font-size: $size;
}
@mixin font-hero-h-3($color, $size) {
  font-family: "Libre Franklin";
  font-weight: normal;
  color: $color;
  font-size: $size;
}

@mixin font-hero-txt($color, $size) {
  font-family: "Libre Franklin";
  font-weight: normal;
  color: $color;
  font-size: $size;
}
@mixin font-searchbar-placeholder($color, $size) {
  font-family: "Libre Franklin";
  font-weight: medium;
  color: $color;
  font-size: $size;
}
